.div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.link_style{
    display: flex;
    justify-content: space-evenly;
}

.h2{
    display: flex;
    justify-content: center;
    color: white;
}



.btn{
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.btn::before{
    margin-left: auto;
}

.btn::after, .btn::before{
    content: '';
    width: 0%;
    height: 2px;
    background: #0d81d4;
    display: block;
    transition: 0.5s;
}

.btn:hover::after, .btn:hover::before{
    width: 100%;
}


/* card styling */
.profile_div{
    display: flex;
    
    align-items: center;
    height: 50vh;
}

.card {
    background-color: rgba(243, 244, 246, 1);
    padding: 2rem;
    width: 100rem;
    max-width: 320px;
    border-radius: 10px;
    box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
  }
  
  .header {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
  }
  
  .header .image {
    height: 4rem;
    width: 4rem;
    border-radius: 9999px;
    object-fit: cover;
    background-color: royalblue;
  }
  
  
  .name {
    margin-top: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, 1);
  }

  .button{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-top: 1rem;
  }

  .button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }
  
  