.layout{
    box-shadow: 0 0 15px black;
    border-radius: 15px;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 0, 0, 70%);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 450px) {
    .layout{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

} 

.nav{
    display: flex;
    flex-direction: column;
    

    ul{
       
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;


        li{
            list-style: none;
            
        }

        .open{
            display: flex;
        }
    }

   

    .menu{
        display: flex;
        /* position: absolute;
        top: 3rem;
        right: 3rem; */
        flex-direction: column;
        justify-content: space-between;
        width: 2.25rem;
        height: 2rem;
        
        

        span{
            height: 0.4rem;
            width: 100%;
            background-color: white;
            border-radius: 0.2rem;
        }
    }

}

.btnLayout {
    padding: 2%;
    display: flex;
    background-color: rgb(0, 105, 132);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    z-index: 5;
    
    
    
}

@media screen and (max-width: 450px) {
    .btnLayout{
        border-bottom-left-radius: 0;
        border-top-right-radius: 15px;
        
    }
    
}

.btn{
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.btn::before{
    margin-left: auto;
}

.btn::after, .btn::before{
    content: '';
    width: 0%;
    height: 2px;
    background: #0d81d4;
    display: block;
    transition: 0.5s;
}

.btn:hover::after, .btn:hover::before{
    width: 100%;
}


.signOut{
    position: absolute;
    bottom: 16px;
}

@media screen and (max-width: 450px) {
    .signOut{
        position: absolute;
        bottom: 94%;
        left: 70%;
    }
    
}


